In [ ]:
# Connecting to the mySQL server
import os
import mysql.connector
from dotenv import load_dotenv
load_dotenv()
host = os.getenv("MYSQL_HOST")
user = os.getenv("MYSQL_USER")
password = os.getenv("MYSQL_PASSWORD")
database = os.getenv("MYSQL_DB")

db = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database
)

In [16]:
df = pd.read_sql_query("SELECT * FROM car_price_dataset LIMIt 120", db)
df.tail(120)

,Brand,Model,Year,Engine_Size,Fuel_Type,Transmission,Mileage,Doors,Owner_Count,Price
0,Kia,Rio,2020,4.2,Diesel,Manual,289944,3,5,8501
1,Chevrolet,Malibu,2012,2.0,Hybrid,Automatic,5356,2,3,12092
2,Mercedes,GLA,2020,4.2,Diesel,Automatic,231440,4,2,11171
3,Audi,Q5,2023,2.0,Electric,Manual,160971,2,1,11780
4,Volkswagen,Golf,2003,2.6,Hybrid,Semi-Automatic,286618,3,3,2867
...,...,...,...,...,...,...,...,...,...,...
115,Honda,Civic,2007,1.4,Petrol,Manual,279031,5,3,2019
116,Chevrolet,Equinox,2013,2.8,Petrol,Manual,63430,4,5,9531
117,BMW,3 Series,2014,2.1,Petrol,Manual,191744,5,1,6565
118,Mercedes,E-Class,2023,3.9,Hybrid,Semi-Automatic,58107,3,2,14737
119,BMW,X5,2002,4.5,Diesel,Manual,86763,2,5,7464

hello